panel/vendor/
panel/node_modules/
panel/npm-debug.log
panel/yarn-error.log

# Laravel 4 specific
panel/bootstrap/compiled.php
panel/app/storage/

# Laravel 5 & Lumen specific
panel/public/storage
panel/public/hot

# Laravel 5 & Lumen specific with changed public path
panel/public_html/storage
panel/public_html/hot

panel/storage/*.key
panel/.env
panel/Homestead.yaml
panel/Homestead.json
panel/.vagrant
panel/.phpunit.result.cache
